:root {
  --primary-color: rgba(210, 247, 3, 0.925);
  --button-color: rgba(81, 211, 5, 0.623);
  --bg-color: rgba(39, 39, 39, 0.836);
  --spn-color: blue;
  --txt-color: rgb(36, 35, 35);
}

* {
  text-align: center;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* body */
body {
  background-image: url("/asset/gambarbumi.webp");
  background-size: auto;
  background-color: rgba(0, 0, 0, 0.39);
  align-items: center;
}

marquee {
  margin-top: 2px;
  background-color: var(--bg-color);
  font-weight: bold;
  border: 1px solid rgba(46, 46, 46, 0.904);
  font-size: 1.2rem;
}
marquee span {
  color: rgba(240, 216, 0, 0.849);
}

marquee:hover {
  background-color: #8f7a02;
  color: rgba(26, 26, 27, 0.87);
}

h2 {
  background-color: #8f7a02;
  padding: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--txt-color);
  margin: 0 0 2px 0;
  font-size: 1rem;
}
h2 .matematik,
.calc {
  color: var(--primary-color);
}
h2 .paragraph1 {
  color: var(--button-color);
}

h3 .tampilkanhasil {
  width: 7rem;
}

.rumus-img1 {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  width: 400px;
}
.rumus-img1:hover {
  transition: all 0.5s ease 0.1s;
  content: "";
  position: center;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border-radius: 3px;
  background-color: #8f7a027e;
  justify-content: center;
  background-repeat: no-repeat;
  opacity: 100%;
  transform: scale(1);
}

.buttons {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1em;
  width: 200px;
  border: 1px;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  background: var(--button-color);
  border-radius: 500px;
  position: relative;
  width: 200px;
  margin: auto;
}

.buttons:hover {
  background-color: #8f7a02;
}
/* button Pilihan End */

.btn-luas-segitiga {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1em;
  width: 200px;
  border: 1px;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  background: var(--button-color);
  border-radius: 500px;
  position: relative;
  width: 100px;
  margin: auto;
}

.btn-luas-segitiga:hover {
  background-color: #8f7a02;
}

.btn-keliling-segitiga {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1em;
  width: 200px;
  border: 1px;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  background: var(--button-color);
  justify-content: center;
  position: relative;
  width: 100px;
  margin: auto;
}

.btn-keliling-segitiga:hover {
  background-color: #8f7a02;
}

.hitungluas {
  color: rgb(43, 43, 43);
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.hitungkeliling {
  color: rgb(43, 43, 43);
  display: inline-block;
  justify-content: center;
  align-items: center;
}

input {
  text-decoration: none;
  border-radius: 30px;
  padding: 7px;
  margin: 0.2em;
  text-align: center;
  border: none;
  background-color: #8f7a0275;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  text-decoration: none;
  background-color: #8f7a02;
  text-align: center;
  padding: 5px;
  margin-top: 1px;
}
